body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
}

.header-up {
    display: flex;
    justify-content: space-between;
    color: #969696;
}

.header-down {
    display: flex;
    color: #969696;
    gap: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.header-up img {
    width: auto;
    height: 150px;
    justify-content: flex-start;

}

.left {
    justify-content: space-between;
    flex-direction: column;
}

.right {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    align-items: center;
}

ul {
    display: flex;
    gap: 60px;
    list-style-type: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

h1 {
    font-size: 40px;
    margin: 0;
    color: #E5E7EB;
}

.header-down img {
    height: auto;
    width: 600px;
    justify-content: flex-end;
    border-radius: 5px;

}

.header-down button {
    padding:8px 16px;
    border: none;
    border-radius: 3px;
    color: #E5E7EB;
    background: #3882F6;

}

button:hover {
    color: #1F2937;

}

h2 {
    color:#1F2937 ;
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
}

.info-bottom {
    display: flex;
    justify-content: center;
    color:#a7a7a7;
    gap: 40px;

}

.info {
    padding: 0 200px 0

}
.box {
    height: auto;
    width: 250px;
    text-align: center;
    
}

.box img {
    width: 100%;
    height: auto;
    border: solid 4px #3882F6;
    border-radius: 15px;
    margin-bottom: 20px;
}
