body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0;
    min-width: 1500px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px; 
}

.header-up {
    display: flex;
    justify-content: space-between;
    color: #e80b0b;
    flex-shrink: 20%;
}

.header-down {
    display: flex;
    color:#a7a7a7;
    gap: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.header-up img {
    width: auto;
    height: 150px;
    justify-content: flex-start;

}

.left {
    justify-content: space-between;
    flex-direction: column;
}

.right {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    align-items: center;
}
a {
    color: #a7a7a7;
    text-decoration: none;
}

ul {
    display: flex;
    gap: 60px;
    list-style-type: none;
    color:#a7a7a7;
}

h1 {
    font-size: 40px;
    margin: 0;
    color: #E5E7EB;
}

.header-down img {
    height: auto;
    width: 600px;
    justify-content: flex-end;
    border-radius: 5px;

}

.header-down button {
    padding:8px 16px;
    border: none;
    border-radius: 3px;
    color: #E5E7EB;
    background: #3882F6;

}

button:hover {
    color: #1F2937;

}

h2 {
    color:#1F2937 ;
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
}

.info-bottom {
    display: flex;
    justify-content: center;
    color:#a7a7a7;
    gap: 40px;

}

.info {
    padding: 10px 200px 100px

}
.box {
    height: auto;
    width: 250px;
    text-align: center;
    
}

.box img {
    width: 100%;
    height: auto;
    border: solid 4px #3882F6;
    border-radius: 15px;
    margin-bottom: 20px;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px 200px 100px;
}

h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 200;
    font-style: italic;
    padding: 0 100px;
}

.signature {
    font-weight: bold;
    text-align: end;
    font-size: 20px;
    padding: 0 100px;
}

.cta {
    display: flex;
    color: #E5E7EB;
    padding: 100px 200px 100px;
    justify-content: center;
}

.cta-box {
    display: flex;
    justify-content: space-between;
    flex: auto;
    align-items: center;
    gap: 50px;
    background-color: #3882F6;
    padding: 50px 100px 50px;
    border-radius: 10px;
}
.cta button {
    color: #E5E7EB;
    padding:8px 16px;
    border: solid 2px #E5E7EB;
    border-radius: 3px;
    background-color: #3882F6;
}

h4 {
    font-size: 30px ;
    margin: 0;
}

.footer {
    background-color: #1F2937;
    color:#a7a7a7;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
}